
.editor-container{
  border:1px solid #f60;
  padding: 10px;
  margin-bottom: 20px;
}

.is-latex{
  background: #eee;
  padding:10px;
  cursor: pointer;
}

.is-latex:focus{
    border:2px solid lightblue;
  }

.is-toolbar{
  background:#eee;
  border: 1px solid #000;
  padding: 4px;
}
